/*
 * Cyril Harvey
 * Sept. 24 2023
 * Modified Ergodash firmware to accomodate the "mini" variety
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "DEFAULT";
                        bindings = <
&none         &none            &none         &none         &none         &none         &none                  &none         &none         &none         &none         &none         &none         &none  
&kp  ESC      &kp  Q           &kp  W        &kp  F        &kp  P        &kp  B        &kp  MINUS             &kp  EQUAL    &kp  J        &kp  L        &kp  U        &kp  Y        &kp  SEMI     &kp  BSLH
&none         &kp  A           &kp  R        &kp  S        &kp  T        &kp  G        &kp  DEL               &kp  BSPC     &kp  M        &kp  N        &kp  E        &kp  I        &kp  O        &kp  SQT
&kp  LSHFT    &kp  Z           &kp  X        &kp  C        &kp  D        &kp  V        &none                  &none         &kp  K        &kp  H        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  MINUS
&kp  LCTRL    &kp LMETA        &none         &none         &mo  LOWER    &kp  BSPC     &kp  RET               &kp  TAB      &kp  SPACE    &mo RAISE     &none         &kp  LBKT     &kp  RBKT     &kp  RCTRL
                        >;
                };
                lower_layer {
                        label = "LOWER";
                        bindings = <
&none         &none         &none         &none         &none         &none         &none                  &none         &none         &none         &none         &none          &none         &none
&none         &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &none         &none                  &none         &none         &kp N7        &kp N8        &kp N9         &none         &none
&none         &kp EXCL      &kp AT        &kp UNDER     &none         &none         &none                  &none         &none         &kp N4        &kp N5        &kp N6         &none         &none
&none         &none         &none         &none         &none         &none         &none                  &none         &none         &kp N1        &kp N2        &kp N3         &none         &none
&none         &none         &none         &none         &none         &none         &none                  &none         &none         &kp N0        &none         &none          &none         &none
                        >;
                };
                raise_layer {
                        label = "RAISE";
                        bindings = <
&none         &none                 &none                 &none                 &none         &none         &none                  &none         &none         &none         &none         &none          &none         &none
&none         &none                 &none                 &none                 &none         &none         &none                  &none         &none         &none         &none         &none          &none         &none
&none         &kp LG(X)             &kp LG(C)             &kp LG(V)             &none         &none         &none                  &none         &none         &kp LEFT      &kp DOWN      &kp UP         &kp RIGHT     &none
&none         &none                 &none                 &none                 &none         &none         &none                  &none         &none         &none         &none         &none          &none         &none
&none         &none                 &none                 &none                 &none         &none         &none                  &none         &none         &none         &none         &none          &none         &none
                        >;
                };
        };
};

